html{margin:0;padding:0}
body{margin:0;padding:0;background-color:snow}

/* Navbar */
.navbar{
	border-radius:0;
}

/* Navbar container */
.container-fluid{
	padding-right: 150px;
	padding-left: 150px;
}

/* Logo */
.navbar-brand{
	height:auto;
	padding: 0 15px;
}
.logo{
	max-height:50px
}
/* silder */
#slider{
	border: 1px solid black;
	height: 300px;
	margin-top: 100px;
}
#cat1{
	
}
#cat1 h2{
	padding-left: 15px;
}
#cat2{

}
#cat2 h2{
	padding-left: 15px;
}

#cat3 h2{
	padding-left: 15px;
}
#cat4{
	margin-bottom: 20px;
}
#cat4 h2{
	padding-left: 15px;
}

hr.black{
	border-top: 1px solid black;
	margin-top: 20%;	
}
footer{
	height: 300px;
	background-color: black;
	color: white;
	clear: both;
	padding-top: 20px;
}
img.index{
	border: 1px solid black;
	max-height: 175px;
}
#blog:first-child{
	margin-top: 100px;
}

#blogimg img{
	border: 1px solid black;
}

h3{
	margin-top: 1px;
	color: #337ab7;
}
hr{
	border-top: 1px solid black;
}
hr.red{
	border-top: 1px solid red;
}
nav > div > ul.nav.navbar-nav.navbar-right > li > ul > form{
	padding: 10px;
}

@media (min-width: @screen-md-min) { 



}






